<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-600 body-font text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12"><%= t('.message') %></h2>
    <div class="grid md:grid-cols-2 gap-4 md:gap-8">
      <div class="flex flex-col items-center gap-4 md:gap-6 px-8 py-6">
        <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
          <%= image_tag '04_a.png' %>
        </div>
      </div>
      <div class="flex flex-col items-center rounded-lg gap-4 md:gap-6 px-8 py-6">
        <div class="flex flex-col gap-4 p-4 md:p-8">
          <%= link_to t('.index'), pictures_path, class: "text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2" %>
          <div class="content flex flex-col">
            <a class="js-modal-open text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2" href=""><%= t('.start') %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <% if @pictures.present? %>
        <%= render partial: 'users/toppicture', collection: @pictures, as: 'picture' %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>    
  </div>
</div>
<div class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
  <div class="modal__content">
    <div class="bg-runte-orange">
      <p class="text-2xl text-white ml-2">注意事項</p>
    </div>
    <p class="text-xl mt-2 ml-2">このサービスは、らんてくんを描いて投稿できるサービスです！</p>
    <ul class="mt-5 ml-10 text-sm text-gray-600">
      <li>Runte Creatorは、PCでのみプレイ可能です。</li>
      <li>推奨ブラウザは、Google Chromeです。</li>
      <li>当アプリの利用を開始した時点で、利用規約、プライバシーポリシーに同意いただいたものとみなします。</li>
      <li>らんてくんを侮辱するような投稿は禁止とします。運営側で削除させていただく場合がありますので、予めご了承下さい。</li>
    </ul>
    <div class="text-right mt-10 mb-2">
      <%= link_to t('.drawing'), new_picture_path, class: "text-runte-orange hover:bg-red-100 font-medium rounded-lg text-sm px-5 py-2.5", data: { 'turbolinks' => false } unless current_user.nil? %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "static_peges/top.js" %>

<style>
  .modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .modal__content{
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
  }
  .modal__content li{
    list-style-type: disc;
  }
</style>
