<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-600 body-font text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12">らんてくんをお絵描きして自慢しよう！</h2>
    <div class="grid md:grid-cols-2 gap-4 md:gap-8">
      <div class="flex flex-col items-center gap-4 md:gap-6 px-8 py-6">
        <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
          <%= image_tag '04_a.png' %>
        </div>
      </div>
      <div class="flex flex-col items-center rounded-lg gap-4 md:gap-6 px-8 py-6">
        <div class="flex flex-col gap-4 p-4 md:p-8">
          <%= link_to "ログインして遊ぶ", login_path, class:"text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2" if current_user.nil? %>
          <%= link_to "ゲストログインして今すぐ遊ぶ", root_path, class:"text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2" if current_user.nil? %>
          <%= link_to "みんなのらんてくんを見る", pictures_path, class:"text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2"%>
          <%= link_to "お絵描きスタート！！", new_picture_path, class: 'text-white bg-indigo-400 hover:bg-indigo-500 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2', data: { 'turbolinks' => false } unless current_user.nil?%>
        </div>
      </div>
    </div>

        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
          <% if @pictures.present? %>
            <%=render partial: 'users/toppicture', collection: @pictures, as: 'picture' %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>    
  </div>
</div>
