<%if flash.present?%>
  <% flash.each do |type, message| %>
    <div class="flex p-4 mb-4 bg-<%=flash_class(type)%>-100 border-t-4 border-<%=flash_class(type)%>-500 dark:bg-<%=flash_class(type)%>-200" role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-<%=flash_class(type)%>-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <%case type %>
        <%when "notice"%>
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        <%when  "danger"%>
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
        <%end%>
      </svg>
      <div class="ml-3 text-sm font-medium text-<%=flash_class(type)%>-700">
        <%=message%>
      </div>
    </div> 
  <%end%>
<%end%>
