<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-coll md:flex-row items-center">
    <%= link_to root_path, class: 'flex items-center mb-4 md:mb-0' do %>
      <%= image_tag 'runte_creator_logo.png', size: '300x60' %>
    <% end %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to t('defaults.gallary'), pictures_path, class: 'mr-5 hover:text-gray-900' %>
      <%= link_to t('defaults.drawing'), new_picture_path, class: 'mr-5 hover:text-gray-900'  %>
      <div class="w-10 h-10 rounded-full">
        <%= image_tag current_user.avatar_url, class: 'w-full h-full object-cover object-center' %>
      </div>
      <%= link_to t('defaults.my_page'), profile_path, class: 'mr-5 hover:text-gray-900' %>
      <%= link_to t('defaults.logout'), logout_path, method: :delete, class: 'mr-5 hover:text-gray-900'  %>
    </nav>
  </div>
</header>
