<header class="bg-purple-400">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-lg items-left text-white mb-5 md:mb-0" do %>
      <span class="font-semibold text-xl tracking-tight">らんてくりえーたー</span>
    <% end %>
    <nav class="md:ml-auto flex flex-wrap items-right text-white ">
      <%= link_to t('defaults.gallary'), "#", class: 'mr-5 hover:text-yellow-500' %>
      <%= link_to t('defaults.gallary'), "#", class: 'mr-5 hover:text-yellow-500' %>
    </nav>
  </div>
  <div class="relative bg-purple-400">
    <!-- dropdown menu -->
    <button class="md:ml-auto flex-wrap flex items-center block p-2 bg-white bg-gray-100 items-right rounded-md w-44">
      <span class="mr-4"><%= current_user.name %></span>
        <svg class="w-5 h-5 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor">
          <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <!-- Dropdown List -->
    <div class="absolute right-0 py-2 mt-2 bg-white bg-gray-100 divide-y divide-gray-600 rounded-md shadow-xl w-44">
      <%= link_to t('defaults.my_page'), "#", class: 'block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white'  %>
      <%= link_to t('pictures.likes.title'), "#", class: 'block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white' %>
      <%= link_to t('defaults.logout'), logout_path, method: :delete, class: 'block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white' %>
    </div>
  </div>
</header>
