<%= form_with model: user ,url:url do |f| %>
  <div class="max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto">
    <div class="sm:col-span-2">
      <%= f.label :name, "ユーザー名*", class:"inline-block text-sm sm:text-base mb-2"%>
      <%= f.text_field :name, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
    </div>

    <div class="sm:col-span-2">
      <%= f.label :email, "メールアドレス*",class:"inline-block text-sm sm:text-base mb-2"%>
      <%= f.email_field :email, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
    </div>
    
    <% if action_name == "new"|| action_name == "create" %>
      <div class="sm:col-span-2">
        <%= f.label :password, "パスワード*", class:"inline-block text-sm sm:text-base mb-2"%>
        <%= f.password_field :password, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :password_confirmation, "パスワード(確認)*",class:"inline-block text-sm sm:text-base mb-2"%>
        <%= f.password_field :password_confirmation, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>
    <% end %>

    <div class="sm:col-span-2">
      <%= f.label :avatar, class:"inline-block text-sm sm:text-base mb-2"%>
      <%= f.file_field :avatar, onchange: 'previewImage()', class:"w-full px-3 py-2", accept: 'image/*'%>
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg ">
        <%= image_tag @user.avatar.url, class: 'w-full h-full object-cover object-center ', id: 'preview', size: '100x100'%>
    </div>  

    <div class="sm:col-span-2 flex justify-between items-center text-center">
      <%= link_to root_path ,class:"text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2"  do %>
        <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
      <% end %>
      <%=f.submit nil, class:"inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"%>
      <span class="text-gray-500 text-sm">*必須</span>
    </div>
  </div>
<%end%>

<script>
function previewImage() {
  const target = this.event.target;
  console.log(target);
  const file = target.files[0];
  const reader  = new FileReader();
  reader.onloadend = function () {
      const preview = document.querySelector("#preview")
      if(preview) {
          preview.src = reader.result;
      }
  }
  if (file) {
      reader.readAsDataURL(file);
  }
}
</script>
