<div class="px-4 max-w-screen-xl mx-auto text-center">
  <!-- Developers - start -->
  <div class="pt-8">
    <h2 class="text-gray-600 font-bold body-font text-2xl lg:text-3xl mb-3">Developers</h2>
    <p class="text-gray-500 font-bold lg:text-lg mx-auto mb-10">らんてくりえーたー開発メンバー</p>
    <div class="grid lg:grid-cols-2 xl:grid-cols-4 gap-8 text-gray-500"> 
      <!-- はっとり - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'hattori.jpg', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              俺がリーダーだえ
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">はっとり</p>
        <p class="text-sm md:text-base mb-4">Team Reader</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="https://twitter.com/ryuki_runteq_27" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="https://github.com/hattoriryuki" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- はっとり - end -->
      <!-- しゅとーむ - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'shutomu.jpg', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              最初シュークリームかと思いました
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">しゅとーむ</p>
        <p class="text-sm md:text-base mb-4">Member</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="https://twitter.com/shutooorm02" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="https://github.com/shutorm02" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- しゅとーむ - end -->
      <!-- ゆみか - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'yumika.jpg', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              開発経験無しの4人でやり切れたのは、団結力があったからだと思います！最高のチームでした！ご協力くださった方々、ありがとうございました！
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold ">ゆみか</p>
        <p class="text-sm md:text-base mb-4">Member</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="https://twitter.com/milust_" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="https://github.com/miloneko" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- ゆみか - end -->
      <!-- けり - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'kelly.jpg', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              笑あり、涙あり、の実装でしたが、開発とっても楽しかったです！チームメンバーにも、関係者にも、感謝！ 
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">けりー</p>
        <p class="text-sm md:text-base mb-4">Member</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="https://twitter.com/gloomy_yuka" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="https://github.com/kellyuka" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- けり - end -->
    </div>
  </div>
  <!-- Developers - end -->
  <!-- Special - start -->
  <div class="lg:px-28 py-12">
    <h2 class="text-gray-600 font-bold body-font text-2xl lg:text-3xl mb-3">Special Tanks</h2>
    <p class="text-gray-500 font-bold lg:text-lg mx-auto mb-10">開発にご協力いただいた方</p>
    <div class="grid lg:grid-cols-3 gap-8 text-gray-500"> 
      <!-- たけむ - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'takemu.jpg', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              神様
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">たけむー</p>
        <p class="ttext-sm md:text-base mb-4">CTO</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="https://twitter.com/takemuu_pote?s=21&t=sj2DxdKuuEFhVeLlHB0fpw" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="https://github.com/shogo-08020318" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- たけむ - end -->
      <!-- らんてくん - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag 'runtekun_01.png', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              プログラミングスクール「RUNTEQ」のマスコットキャラクター
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">らんてくん</p>
        <p class="text-sm md:text-base mb-4">Mascot Character</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="#" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class=" fa-lg fa-twitter-square"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- らんてくん - end -->
      <!-- RUNTEQ - start -->
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg p-4">
        <div class="item h-36 rounded-lg mb-4">
          <div class="front">
            <%= image_tag '600x360.png', class:"w-full h-full object-cover object-center" %>
          </div>
          <div class="back">
            <p class="text-base">
              このサービスはRUNTEQより許可をいただき作成しております。
            </p>
          </div>
        </div>
        <p class="text-indigo-500 md:text-lg font-bold">RUNTEQ</p>
        <p class="text-sm md:text-base mb-4">Sponsor</p>
        <!-- social - start -->
        <div class="flex justify-center">
          <div class="flex gap-4">
            <a href="#" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-twitter-square"></i>
            </a>
            <a href="#" target="_blank" class="text-gray-400 hover:text-gray-500">
              <i class="fab fa-lg fa-github"></i>
            </a>
          </div>
        </div>
        <!-- social - end -->
      </div> 
      <!-- RUNTEQ - end -->
    </div>
  </div>
  <!-- Special - end -->
</div>   
<style>
.item {
	position: relative;
	transform-style: preserve-3d;
	transition: .8s;
}
.item:hover {
	transform: rotateY(180deg);
}
.item div {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.back {
	transform: rotateY(180deg);
}
</style>
