<div id="js-flash-notice" class="flex p-4 mb-4 bg-red-100 border-t-4 border-red-500 dark:bg-red-200 hidden" role="alert">
  <svg class="flex-shrink-0 w-5 h-5 text-red-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <div class="ml-3 text-sm font-medium text-red-700">
    <%= t('.flash_danger')%>
  </div>
</div>
<div class="container mx-auto content">
  <div class="flex flex-row">
    <div class="ml-20 mt-8 mb-8 wrapper">
      <canvas class="drawPicture" id="js-drawPicture" width="1000" height="550"></canvas>
    </div>
    <div>
      <div class="ml-10 mt-10">
        <p><%= t('.width') %></p>
        <input id="range-selector" type="range" value="5" min="1" max="10" step="0.1">
        <span id="line-width">5</span>
      </div>
      <div class="mt-5 ml-10 colormenu">
        <p><%= t('.color') %></p>
        <input type="color" id="js-colorBox">
        <button class="bg-gray-100 rounded border text-left px-4 py-2 hidden" id="js-tooltips">
          <ul>
            <li><%= t('.runte_color') %></li>
            <li><%= t('.blue_rgb') %></li>
            <li><%= t('.orange_rgb') %></li>
          </ul>
        </button>
      </div>
      <div class="mt-5 ml-10 drawmenu">
        <button class="eraser bg-runte-purple font-semibold text-white py-1 px-3 rounded hover:bg-blue-600" id="js-eraser"><%= t('.eraser') %></button>
        <button class="clear bg-runte-purple font-semibold text-white py-1 px-3 rounded hover:bg-blue-600" id="js-clear"><%= t('.clear') %></button>
      </div>
      <div class="mt-10 ml-10">
        <button class="bg-runte-purple font-semibold text-white py-1 px-3 rounded hover:bg-blue-600" id="undo"><%= t('.undo') %></button>  
        <button class="bg-runte-purple font-semibold text-white py-1 px-3 rounded hover:bg-blue-600" id="redo"><%= t('.redo') %></button>  
      </div>
      <div class="form-group ml-10 mt-10">
        <label><%= Picture.human_attribute_name(:picture_comment) %></label>
        <textarea id="picture_comment" class="w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" placeholder="<%= t('.comment') %>"></textarea>
      </div>
      <div class="mt-10 ml-10 text-gray-700">
        <button class="text-xl px-2 py-1 text-yellow-500 border border-yellow-500 font-semibold rounded hover:bg-yellow-100" id="js-pictureUpload"><%= t('.complete') %></button>  
        <button><a id="js-downloadCanvas" href="#" download="canvas.jpg"><i class="fa fa-download ml-5 mr-1"></i><%= t('.download') %></a></button> 
      </div>
    </div>
  </div>
</div>

<div class="modal js-modal">
  <div class="modal__bg"></div>
  <div class="modal__content">
    <div class="modal_text">
    <table>
      <tr>
        <td><%= image_tag '03_a.png', size:'120x360' %></td>
        <td><p class="text-6xl text-runte-orange ml-20">さっそく描いてみよう！</p></td>
      </tr>
    </table>
    </div>
  </div>
</div>

<%= javascript_pack_tag "pictures/new.js" %>
<%= javascript_pack_tag "pictures/modal.js" %>
