<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <%= image_tag 'data:image/png;base64,' + @picture.image, class: 'lg:w-2/6 md:w-3/6 w-5/6 mb-5 object-cover object-center rounded' %>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-3xl mb-8 font-medium text-gray-900"><%= @picture.picture_comment %></h1>
      <p class="mb-2 leading-relaxed text-xl"><%= t('.about_user') %></p>
      <div class="flex justify-center">
        <div class="sm:w-24 sm:h-24 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-gray-100  flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <%= link_to @picture.user.name, user_path, class: 'inline-flex py-6 text-3xl underline' %>
      </div>
      <div class="flex justify-center mt-10">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="large" data-hashtags="<%= t('.share')%>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>
