<section class="text-gray-600 body-font">
<% set_meta_tags(og: { title: "#{@picture.user.name}さんが描いたらんてくん！",
  description: "あなただけのらんてくんを描いてみよう",
  image: image_url(@picture.image_url) },
  twitter: { card: 'summary',
  image: image_url(@picture.image_url) }) %>

  <div class="text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12">
    <%= image_tag 'data:image/png;base64,' + @picture.image, class: 'lg:w-2/6 md:w-3/6 w-5/6 mb-5 object-cover object-center rounded' %>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-3xl mb-8 font-medium text-gray-900"><%= @picture.picture_comment %></h1>
      <p class="mb-2 leading-relaxed text-xl"><%= t('.about_user') %></p>
      <div class="flex justify-center">
        <div class="sm:w-24 sm:h-24 h-20 w-20 sm:mr-10 rounded-full overflow-hidden shadow-lg">
          <%= image_tag @picture.user.avatar_url, class: 'w-full h-full object-cover object-center' %>
        </div>
        <%= link_to @picture.user.name, user_path, class: 'inline-flex py-6 text-3xl underline' %>
      </div>
      <div class="flex justify-center mt-10">
        <%
=begin%>
 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="large" data-hashtags="<%= t('.share') %>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<%
=end%>
        <%=link_to "https://twitter.com/share?url=#{'https://runte-creator.herokuapp.com'}&text=これは#{ @picture.user.name }のらんてくんです！/&hashtags=RunteCreator,RUNTEQ", target: '_blank',class:"btn blue" do %>
		<%='お披露目する'%><i class="fab fa-twitter "></i>
		<%end%>
      </div>
    </div>
  </div>
</section>
<%#= javascript_pack_tag "pictures/show.js" %>
