<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-21xl px-4 md:px-8 mx-auto">
    <div class="mb-10 md:mb-10">
      <h2 class="text-gray-600 text-2xl font-bold text-center lg:text-3xl mb-4 md:mb-6"><%= t('.title') %></h2>
    </div>
  </div>
  <%= form_with url: login_path, local: true do |f| %>
    <div class="max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto">
      <div class="sm:col-span-2">
        <%= f.label :email, User.human_attribute_name(:email), class:"inline-block text-sm sm:text-base mb-2" %>
        <%= f.email_field :email, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>
      <div class="sm:col-span-2">
        <%= f.label :password, User.human_attribute_name(:password), class:"inline-block text-sm sm:text-base mb-2" %>
        <%= f.password_field :password, class:"w-full bg-gray-50 border focus:ring ring-purple-400 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>
    </div>
    <div class="text-center pt-5">
      <%= f.submit t('defaults.login'), class:"inline-block bg-runte-purple hover:bg-indigo-700 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
    </div>
    <div class="text-center p-6">
      <%= link_to t('.to_register_page'), new_user_path, class: 'ml-3 mr-5 text-gray-500 hover:text-gray-900' %>
      <%= link_to  t('.password_forget'),new_password_reset_path, class: 'text-gray-500 hover:text-gray-900' %>
    </div>
  <% end %>
  <div class="grid grid-cols-8 border-t border-gray-200">
    <div class="flex justify-center col-start-4">
      <%= link_to auth_at_provider_path( provider: :twitter ), class: "text-white bg-blue-400 hover:bg-blue-500 font-semibond rounded-lg text-sm px-5 py-3 text-center inline-flex items-center mr-2 mb-2 mt-4" do %>
        <span><i class="fab fa-twitter"></i><%= t('.login_with_twitter') %></span>
      <% end %>
    </div>
    <div class="flex justify-center col-start-5">
      <%= link_to t('defaults.guest_login'), guest_path, class: "text-white bg-runte-purple hover:bg-indigo-700 active:bg-indigo-700 focus-visible:ring ring-indigo-300 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2 mt-4", method: :post %>
    </div>
  </div>
</div>
